Repository enhance-manageiq/docs, pull requests merged in 2018-03, with the labels that each got.

#15 Openstack info
  chapter2/openstack_info.md
Labels: chapter2

#24 OpenStack Configuration
  chapter2/openstack_config.md
  images/chapter2/Create_Network_step1.png
  images/chapter2/Create_Network_step2.png
  images/chapter2/Create_Network_step3.png
  images/chapter2/Create_Router.png
  images/chapter2/Network_Map.png
Labels: chapter2

#25 Chapter3 structure
  SUMMARY.md
  chapter_3/README.md
  chapter_3/automation_using_ansible.md
  chapter_3/embedded_ansible.md
  chapter_3/embedded_ansible_using_awx.md
Labels: chapter3

#29 Embedded Ansible using AWX
  chapter_3/embedded_ansible_using_awx.md
Labels: chapter3

#23 Integration of OpenStack with ManageIQ.
  chapter2/integration_with_MIQ.md
  images/chapter2/Add_OpenStack_Provider-Default_Tab.png
  images/chapter2/Add_OpenStack_Provider-Event_Tab.png
  images/chapter2/Add_OpenStack_Provider.png
  images/chapter2/OpenStack_Instances.png
  images/chapter2/OpenStack_Summary.png
  images/chapter2/OpenStack_Thumbnail.png
Labels: chapter2

#32 Chapter4 structure
  SUMMARY.md
  chapter_4/README.md
  chapter_4/creating_a_ansible_service.md
  chapter_4/domain_and_namespaces.md
  chapter_4/service_catalogs_and_user_self-service_portal.md
Labels: chapter4
